body{
    color: yellow;
}

.home{
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.1)),url(https://img.lovepik.com/background/20211022/large/lovepik-blue-tech-background-image_401948404.jpg);
    
    
    background-size: cover;
}

.Intro{
    color: whitesmoke;
    text-align: justify;
    padding: 10% 20%;
    font-size: 20px;
    font-weight: 200;
}

.name{
    font-size: 65px;
}

.specialty{
    font-weight: 400;
}

.card-title{
    padding-top: 2%;
}

.card-text{
    text-align: justify;
}

.col-sm-7{
    margin: 2% auto;
}

.card-body img{
    border-radius: 25px;
    width: 100% ;
}
